<%= form_for(@impress) do |f| %>
  <% if @impress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@impress.errors.count, "error") %> prohibited this impress from being saved:</h2>

      <ul>
      <% @impress.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
