<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">

    </div>
    <div class="span10"  id="main">

    <div id="impress_buffer">
    <% @impresses.each do |i| %>
    <div class="slide_box">
    <h1><%=link_to "#{i.title}",impress_path(i) %></h1>
    <h4>Created <%=time_ago_in_words(i.created_at) %> ago</h4>
    </div>
    <% end %>
    </div>

    </div>
  </div>
</div>

