<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" id="side_nav">

        <a href="#" id="new_impress" class="btn btn-primary" >New Slide</a></li>
        <a href="#" data-remote="true" id="save_and_download" class="btn btn-inverse">Save And Download</a>
        <%= form_for "/pack",:html=>{:id=>"pack_form"} do |f| %>
        <input type="hidden" name="pack"  id="pack" />
        <input type="submit" value="continue" class="btn btn-success"/>
        <% end %>

    </div>
    <div class="span10"  id="main">

    <h1>Create Stunning Presentation in Minutes</h1>
    <ul>
    <li>No Configuration</li>
    <li>Random Auto Genarated Styles</li>
    <li>Carry it , Show it Anywhere</li>
    <li>Powered by Impress.js, the next generation HTML5/CSS3 based presentation engine</li>
    </ul>

    <div id="impress_buffer">
    </div>

    </div>
  </div>
</div>

