.container-fluid {
margin-top: 60px;
}
.delete-slide{
margin: 4px 2px;
}
#side_nav{
width:220px;
position: fixed;
}
.btn{
margin:4px;
}
.count-info{
float: right;
padding: 6px;
}
label.focused{
padding: 4px;
}
label.styled{
background: #eaeaea;
}
.slide_box{
padding: 4px 10px;
border-left: 1px solid #CCC;
margin: 2px 0px;
}
.slide_box:hover{
background: #E4EBF5;
border-left: 1px solid #6E98BA;
}

