.container-fluid {
margin-top: 60px;
}
.delete-slide{
margin: 4px 2px;
}
#side_nav{
width:152px;
position: fixed;
}
.btn{
margin:4px;
}
.count-info{
float: right;
padding: 6px;
}
label.focused{
padding: 4px;
}
label.styled{
background: #eaeaea;
}

