<!doctype html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <%= stylesheet_link_tag    "impress" %>
    </head>
    <body>

    <div id="impress">

    <div class="no-support-message">
    Your browser doesn't support impress.js.  Try Chrome or Safari.
    </div>

    <%=yield%>

    </div>
     <%= javascript_include_tag "impress" %>
    </body>
</html>

